* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
}

.header_logo {
    margin: 20px;
    width: 50%;
}

.search_logo {
    float: right;
}

.search_logo img {
    height: 20px;
    width: 20px;
}